<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Test Aplication!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
        <link href="{{ asset('../app/css/blog.css') }}" type="text/css" rel="stylesheet" />
    	{% endblock %}
    	
    	{% block javascripts %}
        <script src="{{ asset('/js/main.js') }}" type="text/javascript"></script>
    	{% endblock %}
    </head>
    <body>
        <div id="sidebar">
            {% block sidebar %}
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
            {% endblock %}
        </div>
 
        <div id="contenido">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
