{% extends '::base.html.twig' %}

 
{% block title %}My cool blog posts{% endblock %}
 
{% block body %}
	{#
		{% for entry in blog_entries %}
        <h2>{{ entry.title }}</h2>
        <p>{{ entry.body }}</p>
    	{% endfor %}
	#}    
	JJAJAJA
	{% if app.debug %}
	    <p>Request method: {{ app.request.method }}</p>
	    <p>Application Environment: {{ app.environment }}</p>
	{% endif %}
	
{% endblock %}